[stepper_x]
endstop_pin: ^PC0
#homing_retract_dist: 5.0
position_endstop: -1
position_max: 240
position_min: -1
homing_speed: 60

[stepper_y]
endstop_pin: ^PC1
#homing_retract_dist: 5.0
position_endstop: -5
position_max: 235
position_min: -5
homing_speed: 60

[safe_z_home]
home_xy_position: 154.5,113.5
speed: 100
z_hop: 10
z_hop_speed: 50